#claim__banner {
  background-color: $secondaryColor;
  .claim__main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
    img {
      width: 520px;
      margin: 0 auto;
    }
    p {
      max-width: 600px;
      color: #fff;
      text-align: center;
      font-size: $iconText;
    }
  }
}
