#topbar {
  background: #ffae41;
}

#topbar .topbar__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#topbar .topbar__icons a {
  text-decoration: none;
  color: #050517;
  font-size: 28px;
  padding: 0 20px;
}

#topbar .topbar__icons a .fa-discord {
  color: #5560ec;
}

#topbar .topbar__icons a .fa-twitter {
  color: #2cb2fe;
}

#topbar .topbar__icons a span {
  padding-left: 5px;
}

.navbar-nav .nav-item .nav-link {
  font-size: 28px;
  font-weight: 600;
  padding: 0 20px;
  color: white;
}

.navbar-nav .nav-itemhover {
  color: white !important;
}

.navbar-nav .nav-item .navbar__button {
  padding: 3px 7px;
  border: 2px solid #ffae41;
  border-radius: 10px 0px 10px 0px;
}

#navbar {
  background: #050517;
}

.navbar-brand img {
  max-width: 180px;
}

#banner {
  background: url(../wallpaper/bg.jpg) no-repeat center;
  background-size: cover;
}

#banner .overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.712);
  text-align: center;
  padding: 50px 0;
}

#banner .overlay h1 {
  font-size: 160px;
  font-weight: bold;
  color: #ffae41;
}

#banner .overlay p {
  font-size: 42px;
  color: #cac7c7;
}

#lunchDetails {
  margin-top: 50px;
}

#lunchDetails .sectionHeading {
  font-size: 90px;
  color: #ffae41;
}

#lunchDetails img {
  width: 100%;
}

#lunchDetails p {
  font-size: 42px;
}

#mint {
  padding: 50px 0;
  background: #2b2a56;
}

#mint img {
  width: 100%;
  height: 100%;
}

#mint .mint__heading {
  font-size: 42px;
  font-weight: bold;
  color: white;
}

#mint .mint__button {
  background: #ffae41;
  padding: 10px 80px;
  font-size: 50px;
  font-weight: bold;
  color: #050517;
  border-radius: 30px 0px 30px 0px;
  margin: 30px 0;
}

#mint p {
  font-style: italic;
  font-size: 24px;
  line-height: 158.6%;
  color: #ffffff;
  opacity: 0.8;
}

#rootToken {
  padding: 50px 0;
  background: #050517;
}

#rootToken p {
  text-align: center;
  color: #c4c2c2;
  font-size: 42px;
}

#rootToken .rootToken__content ul li {
  color: #ffae41;
  font-size: 28px;
  margin-bottom: 20px;
}

#roadmap {
  padding-top: 50px;
  background: #ffae41;
}

#roadmap .roadmap__heading {
  font-size: 90px;
  color: #050517;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

#roadmap .roadmap__details {
  padding: 50px 0;
  background: #ffae41;
}

#roadmap .roadmap__listheading {
  font-size: 64px;
  font-weight: bold;
}

#roadmap ul li {
  font-size: 42px;
}

#faq {
  background: #050517;
  padding: 50px 0;
}

#faq .card {
  background: transparent;
}

#faq h5 button {
  color: #ffae41;
  font-size: 42px;
  text-align: left;
}

#faq .card-body {
  font-size: 28px;
  color: #ffffff;
  opacity: 0.5;
}

#team .section__heading {
  margin: 50px 0;
}

#team .team__bottom--text {
  max-width: 940px;
  margin: 0 auto;
  font-style: italic;
  font-weight: 400;
  font-size: 42px;
  color: #050517;
  text-align: center;
  padding-bottom: 30px;
}

#team .team__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#team .team__card .team__item {
  padding: 10px 0;
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#team .team__card .team__item .team__title {
  font-size: 42px;
  font-weight: bold;
  color: #050517;
}

#team .team__card .team__item .team__title a {
  margin-left: 10px;
  color: #2cb2fe;
}

#team .team__card .team__item p {
  color: #ffae41;
  font-size: 28px;
}

#team .team__card .team__item img {
  width: 100%;
  border-radius: 20px;
}

#footer {
  padding: 30px 0;
  background: #050517;
}

#footer .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .logo img {
  width: 150px;
}

#footer .footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
}

#footer .footer__menu li {
  list-style: none;
}

#footer .footer__menu li a {
  text-decoration: none;
  font-size: 42px;
  color: #ffffff;
  margin-left: -60px;
}

#footer .footer__socialIcon {
  width: 150px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 3px solid #ffffff;
  padding-bottom: 10px;
}

#footer .footer__socialIcon a {
  color: #ffffff;
}

#footer .footer__credit {
  text-align: center;
  font-size: 36px;
  color: #ffffff;
  margin-top: 30px;
}

@media (max-width: 992px) {
  #banner .overlay h1 {
    font-size: 64px;
  }
  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
  }
  .footer__menu li {
    list-style: none;
  }
  .footer__menu li a {
    text-decoration: none;
    font-size: 42px;
    color: #ffffff;
    margin-left: 0px !important;
  }
}

@media (max-width: 768px) {
  .section__heading {
    font-size: 64px !important;
  }
  #team .section__heading {
    font-size: 64px !important;
  }
  #roadmap .roadmap__heading {
    font-size: 64px !important;
  }
  #lunchDetails .sectionHeading {
    font-size: 64px !important;
  }
}

#lore {
  padding: 50px 0;
  background: #050517;
}

#lore img {
  width: 100%;
  margin-bottom: 30px;
}

#lore p {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.616);
}

* {
  font-family: "Lo-Res";
}

body {
  background: #f5f5f5;
}

.section__heading {
  font-size: 90px;
  color: #ffae41;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */