#rootToken {
  padding: 50px 0;
  background: $secondaryColor;
  p {
    text-align: center;
    color: #c4c2c2;
    font-size: $textSize;
  }
  .rootToken__content {
    ul {
      li {
        color: $primaryColor;
        font-size: $iconText;
        margin-bottom: 20px;
      }
    }
  }
}
